<p id="notice"><%= notice %></p>

<!-- Categories view. it does not include pagination as a user can not create new categories -->
<!-- Exact same logic as the index view, but slightly different operations in the loop, therefore I did not use a partial  -->

<h1>Categories</h1>
<article class="categories">
<% @categories.each do |cat| %>
    <figure class="figure cat">
          <h4><%= cat.name %></h4>
          <% if cat.listings.first.plant_picture.attached? %>
            <img><%= cl_image_tag cat.listings.first.plant_picture.key, crop: :scale, width: 180, height: 180, cloud_name: 'dzeaqzups' %>
          <% else %>
            <img src="./seed_pics/img6.jpg" alt="Image for this category was not found">
          <% end %>
          <figcaption class="figure-caption"><%= cat.description %></figcaption>
          <ul class="list-group list-group-flush">
            <% if cat.listings.length > 1 %>
              <%cat.listings.each do |c| %>
                <li class="list-group-item">Listings of this category: <%= link_to c.name, c%></li>
              <% end %>
            <% else %>
              <li class="list-group-item">Listings of this category: <%= link_to cat.listings.first.name, cat.listings.first%></li>
            <% end %>
          </ul>
    </figure>
  <% end %>
</article>


