<% if current_user != @seller %>
    <h1>Succulents From This Seller</h1>
    <h4>Email: <%=@seller.email%></h4>
<% else %>
    <h1>Your Succulents</h1>
<% end %>

<article>
    <% if @listings.length < 1 %>
      <p>Could not find any succulents matching this search</p>
    <% else %>
      <% @listings.each do |listing| %>
      <div class="card" style="width: 40rem; height: 20rem;">
        <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <div class="card-img-top"><%= cl_image_tag listing.plant_picture.key, crop: :scale, width: 180, height: 180, cloud_name: 'dzeaqzups' if listing.plant_picture.attached? %></div>
            <p class="card-text"><%= listing.description %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price: $<%= listing.price %></li>
              <li class="list-group-item"><%= link_to 'View', listing %> </li> 
              <%if current_user.listings.include?(@listing)%>
              <%= link_to 'Edit', edit_listing_path(@listing) %> |
              <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> | 
            <%end%>         
            </ul>
         </div>
      </div>
      <% end %>
    <% end %>
  </article>

  <footer>

    <%= link_to 'Back', listings_path %>
  </footer>