
<section>
    <% if @listing.plant_picture.attached? %>
  <img> <%= cl_image_tag @listing.plant_picture.key, crop: :scale, width: 300, cloud_name: 'dzeaqzups', class: "img-fluid" %>
    <%end%>
  <p>
    <h2> <%= @listing.name %> </h1>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>

  <p>
    <strong>Email the Seller on:</strong>
    <%= @email %>
  </p>

  <% if @listing.user.listings.all.length > 1 %>
    <%= link_to "View This Seller's Succulents", seller_path(@listing, @seller) %>
  <% end %>
</section>

<footer>
  <%if current_user.listings.include?(@listing)%>
    <%= link_to 'Edit', edit_listing_path(@listing) %> |
    <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%end%>
  <%= link_to 'Back', listings_path %>
</footer>