
<section>
    <% if @listing.plant_picture.attached? %>
  <img> <%= cl_image_tag @listing.plant_picture.key, crop: :scale, width: 300, cloud_name: 'dzeaqzups', class: "img-fluid" %>
    <%end%>
  <p>
    <h2> <%= @listing.name %> </h1>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= "$#{@listing.price}" %>
  </p>

  <% if current_user.email == @email %>
    <p>
      <strong>This succulent belongs to you!</strong>
    </p>
  <% else %>
    <p>
      <strong>Email the Seller on:</strong>
      <%= @email %>
    </p>
  <% end %>

  <% if @listing.user.listings.all.length > 1 && @listing.user != current_user %>
    <%= link_to "View This Seller's Succulents", seller_path(@listing, @seller) %>
  <% else %>
  <%= link_to "View Your Succulents", seller_path(@listing, @seller) %>
  <% end %>
</section>

<% if !current_user.listings.include?(@listing) && @requested == 0 %>
  <%= link_to 'request this listing?', request_listing_path(@listing) %>
  <% @requested += 1 %>
<% end %>

<footer>
  <%if current_user.listings.include?(@listing)%>
    <%= link_to 'Edit', edit_listing_path(@listing) %> |
    <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%end%>
  <%= link_to 'Back', :back %>
</footer>