

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1> <%= @listing.name %> </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<% if @listing.plant_picture.attached? %>
  <%= cl_image_tag @listing.plant_picture.key, crop: :scale, width: 300, cloud_name: 'dzeaqzups' %>
<%end%>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
